*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
body{
    background-size: 100vw 100vh;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%);
    background-attachment: fixed;
}
.cmdline{
    text-align: left;
    width: 70%;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: lime;
    font-family: monospace;
    font-size: large;
    max-height: 85vh;
    overflow: auto;
    /*user-select: none;*/
}
.cmd{
    margin-top: 15px;
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.content{
    text-align: justify;
}
#btn, #clr{
    padding: 5px 10px;
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btn:hover, #clr:hover{
    transform: scale(1.1, 1.1);
}

@keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: lime;
    }
  }
.blink{
    animation: 1s blink step-end infinite;
}

@media only screen and (max-width: 768px) {
    .cmdline{
        margin: 10px 0;
        width: 100%;
    }
}